fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-jose
passlib[bcrypt]
pydantic
email-validator
python-multipart        
python-dotenv          
alembic                 
pytest                  
httpx                   
mediapipe==0.10.14
opencv-python==4.10.0.84
numpy>=1.26
joblib>=1.3
pytorch-tabnet==4.1.0
torch>=2.2.0
scikit-learn>=1.3
pandas>=2.0



